@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

#titleMain{
  font-family: 'century gothic', sans-serif;
}

#subTitleMain{
  text-shadow: 3.5px 3.5px #0003
}

.bg-bragi-roxo {
  background-image: url('../public/bg-roxo.jpg');
}

.bg-preto {
  background-image: url('../public/bg-preto.jpg');
}

#main{
  color: #fff;
  text-shadow: 5px 5px #00000033;
}

