@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.bg-bragi-roxo {
  background-image: url('../public/bg-roxo.png');
}

.bg-preto {
  background-image: url('../public/bg-preto.png');
}

.main {
  color: #fff;
  text-shadow: 3px 3px #00000033;
}

a:hover{
  font-weight: 650;
}
a.active{
  font-weight: 650;
}